{
	"extends": ["eslint:recommended", "prettier"],
	"plugins": ["prettier"],
	"env": {
		"es6": true,
		"node": true,
		"mocha": true
	},
	"parserOptions": {
		"ecmaVersion": 2018
	},
	"rules": {
		"camelcase": "error",
		"eqeqeq": "error",
		"no-eval": "error",
		"no-extend-native": "error",
		"no-multi-str": "error",
		"no-unused-vars": "off",
		"no-var": "error",
		"prefer-const": "error",
		"no-console": "off",
		"arrow-spacing": "error",
		"block-spacing": "error",
		"brace-style": "error",
		"prettier/prettier": "error"
	}
}
